body{
    font-family: "Roboto", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:aquamarine;
    height: 90vh;
}

span{
    font-size:4em;
}
#calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-sizing: border-box;
    border: solid rgb(51, 51, 51) 1em;
    border-radius: 1em;
    max-width: 40em;
    max-height:46em;
    height:46em;
    padding:2px;
}

#display{
    background-color:gray;
    text-align:right;
    margin: 8px;
}

.button-container{
    display: flex;
    gap:6px;
}

button{
    border: none;
    border-radius:6px;
    min-width:11em;
    flex:1;
}